.terminal {
    border-radius: 10px;
    background-color: var(--primary-background);
}
.terminal p,h2 {
    color: white;
}
.terminal td {
    color: white;
}
.terminal pre {
    border: none;
    background-color: inherit;
    color: white;
    margin: 20px;
    height: 300px;
    width: 95%;
}
.session-select {
    width: 25%;
}