<script src="/gui/jquery/jquery.js"></script>
<script src="/gui/js/shared.js"></script>
<script src="/terminal/js/xterm.js"></script>
<script src="/terminal/js/terminal.js"></script>
<link rel="stylesheet" href="/terminal/css/basic.css">
<link rel="stylesheet" href="/terminal/css/xterm.css"/>

<div id="terminal-section-1" class="section-profile">
    <div class="row">
        <div class="topleft duk-icon"><img onclick="removeSection('terminal-section-1')" src="/gui/img/x.png"></div>
        <div class="column section-border" style="flex:25%;text-align:left;padding:15px;">
             <h1 style="font-size:70px;margin-top:-20px;">Terminal</h1>
             <h2 style="margin-top:-55px">& the Manx agent</h2>
             <p>
                 The terminal plugin comes with the Manx agent, which communicates to the server over a raw
                 TCP socket. In addition to operating as a normal agent, Manx doubles as a reverse-shell.
                 When you deploy it, you will see sessions <i>pop</i> up below, allowing you to manually
                 interact with the compromised host.
             </p>
             <br>
             <select id="dcommands" onchange="displayCommand()">
                <option value="" disabled selected>Select an OS</option>
                {% for cmd in delivery_cmds %}
                    <option value="{{ cmd.ability_id }}">{{ cmd.platform }}</option>
                {% endfor %}
             </select>
            <br><br>
            <hr>
            <br>
            <p>
                All commands executed through the reverse-shell emulator (below) are logged into a report.
                Download it anytime.
            </p>
            <button id="reportBtn" type="button" class="button-success atomic-button" onclick="downloadReport('/plugin/terminal/report', 'reverse_report')">Download report</button>
        </div>
        <div class="column" style="flex:75%;padding:15px;text-align: left">
            <div style="background-color: var(--primary-background);padding: 15px;border-radius: 25px">
                <code id="delivery-command" style="text-align: left;font-size:14px;"></code>
            </div>
        </div>
    </div>
</div>

<div id="terminal-section-2" class="section-profile">
    <div class="row">
         <div class="topleft duk-icon"><img onclick="removeSection('terminal-section-2')" src="/gui/img/x.png"></div>

         <div class="column" style="flex:100%;padding:15px;text-align: left">
             <div id="filters">
                <center>
                    <table class="ability-filter" frame=void rules=rows style="border-spacing:5px;width:100%">
                    <tr>
                        <td>
                        <select id="session-id"  onchange="getAbilities();clearTerminal();">
                             <option value="" disabled selected>Select a session</option>
                             {% for s in sessions %}
                                 <option value="{{ s.id }}" data-paw="{{ s.info }}">{{ s.id }} - {{ s.info }}</option>
                             {% endfor %}}
                        </select>
                        </td>
                        <td>
                         <select id="tactic-filter" onchange="filterTechniques()">
                             <option value="" disabled selected>Select a tactic</option>
                         </select>
                        </td>
                        <td>
                        <select id="technique-filter" onchange="filterProcedures()">
                            <option value="" disabled selected>Select a technique</option>
                        </select>
                        </td>
                        <td>
                        <select id="procedure-filter" onchange="showProcedure()">
                            <option value="" disabled selected>Select a procedure</option>
                        </select>
                        </td>
                    </tr>
                </table>
                </center>
             </div>
             <br>
             <div id="xterminal"></div>
         </div>
    </div>
</div>
<script>
    let refresher = setInterval(refresh, 10000);
    $('.section-profile').bind('destroyed', function() {
        clearInterval(refresher);
    });

    function refresh(){
        function refreshSessions(data){
            data.forEach(function(s) {
                let found = false;
                $("#session-id > option").each(function() {
                    if($(this).data('paw') === s.info) {
                        found = true;
                    }
                });
                if(!found){
                    stream('New TCP session established: '+ s.info);
                    $('#session-id').append('<option value="'+s.id+'" data-paw="'+s.info+'">'+s.id+' - '+s.info+'</option>');
                }
            });
        }
        restRequest('POST', null, refreshSessions, '/plugin/terminal/sessions')
    }
</script>